.pageList {
    background-color: rgb(255, 217, 0); 
    margin-right: 10%;
    margin-left: 10%;
    padding-right: 0%;
    padding-left: 0%;
}
.pageListElem {
    background-color: rgb(255, 217, 0); 
    margin-right: 10%;
    margin-left: 10%;
    padding-right: 0%;
    padding-left: 0%;
}