body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.title {
    background-color: rgb(248, 255, 143);
    margin: 0;     
}
.form {
    text-align: center;
    background-color: rgba(76, 145, 162, 0.745);
    width: 400px;
    height: 700px;
    padding: 15px;
    margin: 0 auto;
}
.container {
    margin: 0 auto;
    width: 760px;
}
.logo_img {
    margin-right: 15px;
}
.logo {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
}
.menu {
    display: inline-block;
}
.menu__link{
    margin-left: 20px;
    display: inline-block;
    font-size: 15px;
    cursor: default;
}
.second {
    padding: 60px 0 0 0;

}
.formTitle {
    padding: 30px;
    display: inline-block;
    margin: 0 auto;
}
.inputField {
    width: 100%;
}
.formItem {
    margin-bottom: 10%;
}
.radiobutton {
    margin-bottom: 15px;
}