
.header__container {
    background-color: #F5F5F5;
    display: flex;
    border-bottom: 3px solid #121212;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    font-family: 'Amatic SC';
    color: rgb(0, 22, 42);
    text-decoration: none;
}

.logo__img{
    margin: 0;
    height: 65px;
}

.logo__btn {
    padding: 5px;
    height: 67px;
    border: 0px;
    background-color: #F5F5F5;
    font-size: 45px;
    font-family: 'Amatic SC', cursive;
    color: rgb(0, 22, 42);
    transition-duration: 0.75s;
    cursor: pointer;
}

.logo__btn:hover {
    background-color: #7b7b7b;
    border-radius: 15px;
    color: white;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__btn {
    cursor: pointer;
    border:0px;
    font-family: 'Amatic SC';
    font-size: 15px;
    height: 67px;
    width: 59px;
    background-color: #F5F5F5; 
    transition-duration: 0.75s;
}

.header__btn:hover {
    background-color: #7b7b7b;
    border-radius: 15px;
    color: white;
}

